<!doctype html>
<html lang="en">
    <head>
        {% include 'head.html' %}
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}" />
        <meta name="keywords" content="{{topic}} performance and health hacking" />
    </head>

<body>
 {% include 'navbar.html' %}


    <div class="text-center pt-5">
            <h1>FAQ</h1>
            <hr class="my-4">
    </div>
   
    <div class="container" class="wrapper flex-grow-1">
            <div class="row justify-content-center">
                <div class="col-sm-7">

                    <div class="card mt-3">
                        <div class="card-header">
                            <h6 id="what-are-we-doing">
                                What's the purpose of this website?
                            </h6>
                        </div>
                        <div class="card-body">
                            <p>
                                The purpose of website is to expand your medical options
                                by connecting the wisdom of the crowd with the wisdom of science.
                            </p>
                                This is not a medical advice site. This is a research tool.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row justify-content-center">
                <div class="col-sm-7">
                    <div class="card mt-3">
                        <div class="card-header">
                            <h6 id="search-reddit">
                            Why not search Reddit directly?
                            </h6>
                        </div>
                        <!--card-header-->
                        <div class="card-body">

                            <p class="card-text">
                            This site is a Reddit aggregator. 
                            We summarize what's on Reddit that is relevant to health and performance hacking and
                            point you to the relevant posts. Our value proposition is:
                            </p>

                            <p class="card-text">
                                <ol>
                                    <li>
                                        <b>Scientific studies</b> We distill recent scientific studies that Reddit users might not be aware of.
                                    </li>
                                    <li>
                                        <b>Less noise</b> We filter noise unrelated to health hacking such as ranting or empathy seeking posts.
                                    </li>
                                    <li>
                                        <b>Organization</b> We aggregate personal stories into hacks.
                                    </li>
                                    </ol>
                            </p>

                        </div>
                        <!--card-body-->
                    </div>
                    <!--card-->
                </div>
                <!--col-->
            </div>
            <!--row-->



        <div class="row justify-content-center">
            <div class="col-sm-7">


                    <div class="card mt-3">
                        <div class="card-header">
                            <h6 id="who-are-we">
                                Who are we?
                            </h6>
                        </div>
                        <div class="card-body">
                            <p>
                                We are a small U.S.A based team of one science
                                writer/cancer survivor in Tennessee, one data
                                scientist/engineer in Northern California, and one transplant
                                nurse practitioner in Ohio. Read more about us <a href="/about">here</a>.
                            </p>
                        </div>
                    </div>


                    <div class="card mt-3">
                        <div class="card-header">
                            <h6 id="why-even-research-health-hacks">
                            Why even research health hacks (ie., personal health experiments)?
                            </h6>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <ol>
                                    <li>
                                        Double-check that there are no health hacks to try out before starting a medication that the medical consensus agrees has
                                        heavy adverse effects. For example, one might consider cognitive behavioral therapy over sleeping pills for chronic insomnia.
                                    </li>
                                    <li>
                                        Double-check that you have not overlooked any health hacks that might be almost as convenient
                                        as doing nothing. For example, one might consider music therapy for dementia symptoms before giving up.
                                    </li>
                                </ol>

                            </p>

                        </div>
                    </div>
        </div>
        <!--col-->
    </div>
    <!--row-->



    <div class="row justify-content-center">
        <div class="col-sm-7">

                    <div class="card mt-3">
                        <div class="card-header">
                            <h6 id="value">
                                What's here that's not on Mayo Clinic, WebMed, etc?
                            </h6>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                The short answer: 
                                Big health websites miss out on personal stories shared on Reddit.
                                Their focus is on summarizing the institutional medical consensus.
                            </p>
                            <p class="card-text">
                                The long answer:
                                Depending on your issue, there might be two problems with relying solely on the medical consensus.
                                <ol>
                                    <li>
                                        <b>The averaging problem: </b> You might or might not be the average patient.
                                        The medical consensus is based on the averaging of treatment effects over a wide range of patients.
                                        Averaging hides individual effect variations in side effects and treatment effectiveness.
                                        For a disorder
                                        like a broken leg, the average patient might be a good proxy for you. For a disorder like ADHD, the average patient
                                        might not be a good proxy for you. In such cases, Nobsmed's distilling of personal experience shared on Reddit might be
                                        helpful.
                                    </li>
                                    <li>
                                        <b>The observation problem: </b>Not all medical outcomes can be quantified or even clinically observed. For example, the effect of ADHD stimulant
                                        medication on creativity or male libido would be hard for a clinical trial to measure, and thus be overlooked by the
                                        medical consensus. In such cases, Nobsmed's distilling of personal experience shared on Reddit might be helpful.
                                    </li>
                                </ol>
                            </p>
                        </div>
                    </div>

    </div>
    <!--col-->
</div>
<!--row-->


        <!--
            <div class="row justify-content-center">
                <div class="col-sm-7">

                    <div class="card mt-3">
                        <div class="card-header">
                            <h6 id="are-we-open-to-investors-and-partnerships">
                                Are we open to investors and partnerships?
                            </h6>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                            Yes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        -->


            <div class="row justify-content-center">
                <div class="col-sm-7">
                    <div class="card mt-3">
                        <div class="card-header">
                            <h6 id="can-we-add-new-hacks-for-your-specific-disorder-or-performance-issue">
                                Can we add new hacks for your specific disorder or performance issue?
                            </h6>
                        </div>
                        <!--card-header-->
                        <div class="card-body">
                            <p class="card-text">
                                Yes. Contact us at <span class="text-primary">
                                                       help@nobsmed.com
                                                    </span>
                            </p>
                        </div>
                        <!--card-body-->
                    </div>
                    <!--card-->



                </div>
                <!--col-->
            </div>
            <!--row-->

    <div class="clear"></div> 
    </div>
    <!--container-->
    {% include 'footer.html' %}
  </body>
</html>
