<nav class="navbar navbar-expand-lg bg-body-tertiary flex-column">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <div class="courier-font" style="color: #0f1042">
                <span style="color: #fe5e00">No</span
                ><span style="color: #195190ff">bs</span
                ><span style="color: #0f1042">med</span>
            </div>
        </a>
        <!-- Search form
            <form class="d-flex" role="search">
                <input
                    class="form-control me-2"
                    type="search"
                    placeholder="How can I ...?"
                    aria-label="Ask a question, How can I ...?"
                    style="width: 275px"
                />
                <button class="btn btn-outline-success" type="submit">
                    Ask
                </button>
            </form>
        -->
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/"
                        >Home</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/amazon-products">Amazon Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faq">FAQ</a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link" href="/tech">Tech</a>
                </li>
                -->
            </ul>
        </div>
    </div>
    <div
        class="container-fluid text-center py-1"
        style="background-color: #f8f9fa; border-top: 1px solid #e9ecef"
    >
        <span class="text-muted small">
            See the evidence on handling your health problem from many
            perspectives
        </span>
    </div>
</nav>
