<!doctype html>
<html lang="en">
    {% include 'head.html' %}
    <body>
        {% include 'navbar.html' %}

        <div class="container" class="wrapper flex-grow-1 pt-5">
            {% include 'headline.html' %}

            <hr class="mt-3 mb-3" />

            {% for faq in faqs %}
            <div class="row align-items-center">
                <div class="col">
                    <p class="lead">{{faq.question}}</p>
                </div>
                <div class="col">
                    <a
                        class="btn btn-outline-secondary btn-md rounded-pill me-2 my-1"
                        role="button"
                        href="/topic/{{subreddit}}/question/{{faq.slug}}"
                    >
                        3 hacks from 10 posts and 2 studies
                    </a>
                </div>
            </div>
            <hr class="mt-1 mb-1" />
            {% endfor %}
        </div>
        <!-- /.container -->
        {% include 'footer.html' %}
    </body>
</html>
